version: "3.9"

services:
  yaplate-bot:
    build: .
    container_name: yaplate-bot
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: yaplate-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
